<div class="container user-select-none" [ngClass]="this.isAr?'ar':''">
  <div class="row d-flex justify-content-center" [style.height]="'90vh'">
    <div class="col-9 col-lg-4 col-md-6 p-3 form-bg align-self-center rounded form-style">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="example-form p-2">
        <div class="mb-2" [ngClass]="{'form-loader':this.userName?.pending,'loader':this.isAr}">
          <mat-form-field class="w-100" appearance="fill" [ngClass]="this.isAr?'text-end':''">
            <mat-label>{{'USER_NAME'|translate}}</mat-label>
            <input matInput formControlName="username" placeholder="{{'ENTER_NAME'|translate}}" name="usename">
            <mat-hint *ngIf="userNameExist()" class="text-danger">{{messages.username.exist|translate}}</mat-hint>
            <mat-hint *ngIf="userNameRequired()" class="text-danger">{{messages.username.required|translate}}</mat-hint>
            <mat-hint *ngIf="userNameMinLength()" class="text-danger">{{messages.username.minlength|translate}}
            </mat-hint>
            <mat-hint *ngIf="userNameMaxLength()" class="text-danger">{{messages.username.maxlength|translate}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="mb-2 " [ngClass]="{'email-form-loader':this.email?.pending,'loader':this.isAr}">
          <mat-form-field class="w-100" appearance="fill" [ngClass]="this.isAr?'text-end':''">
            <mat-label>{{'EMAIL'|translate}}</mat-label>
            <input matInput formControlName="email" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              placeholder="{{'ENTER_EMAIL'|translate}}" name="email">
            <mat-hint *ngIf="emailExist()" class="text-danger">{{messages.email.exist|translate}}</mat-hint>
            <mat-hint *ngIf="emailRequired()" class="text-danger">{{messages.email.required|translate}}</mat-hint>
            <mat-hint *ngIf="email?.errors?.['pattern']" class="text-danger">{{messages.email.pattern|translate}}
            </mat-hint>
            <!-- <mat-hint *ngIf="email?.errors?.['email']" class="text-danger">{{messages.email.match|translate}}</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="fill" [ngClass]="this.isAr?'text-end':''">
            <mat-label>{{'ENTER_PASSWORD'|translate}}</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint *ngIf="passwordRequired()" class="text-danger">{{messages.password.required|translate}}</mat-hint>
            <mat-hint *ngIf="passwordMinLength()" class="text-danger">{{messages.password.minlength|translate}}
            </mat-hint>
            <mat-hint *ngIf="passwordMaxLength()" class="text-danger">{{messages.password.maxlength|translate}}
            </mat-hint>
            <mat-hint *ngIf="validPassword()" class="text-danger">{{password?.errors?.['message']|translate}}</mat-hint>
          </mat-form-field>
        </div>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="fill" [ngClass]="this.isAr?'text-end':''">
            <mat-label>{{'CONFIRM_PASSWORD'|translate}}</mat-label>
            <input matInput formControlName="confirmPassword" [type]="show ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="show = !show">
              <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint *ngIf="confirmPasswordRequired()" class="text-danger">
              {{(messages.confirmPassword.required)|translate}}
            </mat-hint>
            <mat-hint *ngIf="confirmPasswordMatch()" class="text-danger">{{messages.confirmPassword.match|translate}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="mb-2">
          <mat-checkbox class="example-margin" [style.fontSize]="'15px !important'" formControlName="acceptTerms">
            &nbsp;<span class="text-secondary">{{'AGREE_WITH_TERMS'|translate}}</span>
          </mat-checkbox><br />
          <mat-hint *ngIf="acceptTermsRequired()" class="text-danger mx-2">
            {{messages.acceptTerms.required|translate}}
          </mat-hint>
        </div>
        <div class="d-flex justify-content-end">
          <button mat-raised-button class="mb-2" [disabled]="submitDisabledIf()"
            color="primary">{{'SUBMIT'|translate}}</button>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-2 mb-2 text-center">
          <button [style.direction]="'ltr !important'" mat-raised-button color="primary"><i
              class="bi bi-facebook me-3"></i>Facebook
          </button>&nbsp;&nbsp;
          <button [style.direction]="'ltr !important'" mat-raised-button color="warn"><i
              class="bi bi-google me-3"></i>Google </button>
          <div class="mt-2">
            <span class="lead">{{'HAVE_ACCOUNT'|translate}}&nbsp;<a routerLink="/login"
                class="link-primary">{{'SIGNIN_NOW'|translate}}</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
