<div class="container user-select-none" [ngClass]="this.isAr?'ar':''">
  <div class="row d-flex justify-content-center" [style.height]="'80vh'">
    <div class="col-9 col-lg-4 col-md-6 p-3 form-bg align-self-center rounded form-style">
      <p class="lead">{{'RESTORE_PSSW'|translate}}</p>
      <form [formGroup]="this.confirmPasswordForm" (ngSubmit)="onSubmit()" class="example-form p-2">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="fill" [ngClass]="this.isAr?'text-end':''">
            <mat-label>{{'ENTER_PASSWORD'|translate}}</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint *ngIf="passwordRequired()" class="text-danger">{{messages.password.required|translate}}</mat-hint>
            <mat-hint *ngIf="passwordMinLength()" class="text-danger">{{messages.password.minlength|translate}}
            </mat-hint>
            <mat-hint *ngIf="passwordMaxLength()" class="text-danger">{{messages.password.maxlength|translate}}
            </mat-hint>
            <mat-hint *ngIf="validPassword()" class="text-danger">{{password?.errors?.['message']|translate}}</mat-hint>
          </mat-form-field>
        </div>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="fill" [ngClass]="this.isAr?'text-end':''">
            <mat-label>{{'CONFIRM_PASSWORD'|translate}}</mat-label>
            <input matInput formControlName="confirmPassword" [type]="show ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="show = !show">
              <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint *ngIf="confirmPasswordRequired()" class="text-danger">
              {{(messages.confirmPassword.required)|translate}}
            </mat-hint>
            <mat-hint *ngIf="confirmPasswordMatch()" class="text-danger">{{messages.confirmPassword.match|translate}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end">
          <button mat-raised-button class="mb-2" [disabled]="submitDisabledIf()"
            color="primary">{{'RESTORE'|translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
